<!-- app/views/photo/index.html.erb -->
    <head>
    <style>
    #latLon {
         text-align: left;
          color: red;
        }
    </style>
    </head>
    <body onload=“getLocation()”;
    <h1 style="text-align: center">Sights to See</h1>
    <div class="wrapper">
        <form class="uploads" method="POST" action="/photo/store" enctype="multipart/form-data">
            <%= token_tag %> 
            
            <div class="form-group">
                <label for="caption">Caption</label>
                <input type="text" name="caption">
                
                <label for="caption">Latitude</label>
                <input id="lat" type="text" name="Lat" value='1'>
                
                <label for="caption">Longitude</label>
                <input id="lon" type="text" name="Lon" value='2'>
            </div>
            <div style="margin-left: 5px;">
                <input type="file" name="image">
            </div>
            <div>
                <input type="submit" value="Upload">
            </div>
        </form>
        <p id="latLon"></p>
        <p id="map"></p>
    <script>
            var x = document.getElementById("latLon");
            var latValue = document.getElementById("lat");
            var lonValue = document.getElementById("lon");
            latValue.value = "XXX"
            function getLocation() {
              if (navigator.geolocation) {
                x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude
                latValue.value = position.coords.latitude
                lonValue.value = position.coords.longitude
                navigator.geolocation.watchPosition(showPosition);
              } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
              }
            }
            function showPositionText(position) {
              x.innerHTML = "Latitude: " + position.coords.latitude + 
              "<br>Longitude: " + position.coords.longitude; 
            }
            
            function showPosition(position) {
              var latlon = position.coords.latitude + "," + position.coords.longitude;
            
              var img_url = "https://maps.googleapis.com/maps/api/staticmap?center=
              "+latlon+"&zoom=14&size=400x300&sensor=false&key=YOUR_:KEY";
            
              document.getElementById("map").innerHTML = "<img src='"+img_url+"'>";
            }
        </script>
        <div class="images">
            <div class="post">
                <div>

                </div>
                <p class="post-caption">Photo Location Name</p>
            </div>
        </div>
        
    </div>
    </body>
    
