%h1 Sights To See #{@name}
%img(src="/images/h#{entry.incorrectLetters.length}.gif")
%form
  %p Enter Letter to guess
  %input{:type => "text", :letter => :guess_letter}
  %input{:type => "submit", :value => "Test Letter"}

%p Previous Guesses:

%ul
  -@entries.each do |entry|
    %li= entry.correctLetters
    %li= entry.incorrectLetters
